# SPDX-License-Identifier: GPL-3.0-or-later
# Code owners for automatic review assignment.
# Reference: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @anevolbap
